<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Url Shortner</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="theme.css" />
    </head>
    <body>
        <header>
            <h1>Url Shortner</h1>
        </header>
        <section>
            <form action="#" th:action="@{/url-shortener}" th:object="${urlShortener}" method="post">
                <input type="text" th:field="*{originalUrl}" placeholder="http://www.some-very-long-url.com" size="50" />
                <input type="submit" value="Shorten Url" />
            </form>
            <p th:text="*{urlShortener.shortenedUrl}"/>
        </section>
    </body>
</html>